body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header nav ul {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    padding: 0px;
}

h1 {
    color:brown;
    font-size: 60px;
    background-color: antiquewhite;
    padding: 2rem;
}
a{
    text-decoration: none;
    font-size: 18px;
}
a.btn{
    background-color: bisque;
    color: rgb(24, 107, 26);
    padding: 2rem;
    display: inline-block;
    margin: 10px 0px;
}

@media only screen and (min-width: 800px) {
    .fa-burger {
        display:none;
    }
    #menu {
        display: felx !important;
    }
}

@media only screen and (max-width: 800px) {
    #menu {
        display: none;
    }

    #grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    header, main, aside, footer {
        grid-column: 1/2;
    }

    header {
        grid-row: 1/2;
    }

    main {
        grid-row: 2/3;
    }

    aside {
        display: none;
    }

    footer {
        grid-row: 3/4;
    }
}